@import "../../styles/styles.scss";

.list {
    &__result {
        @include block-gray-md();
        width: 100%;
        margin: 0 0 20px 0;
    }

    &__items {
        margin-bottom: 0;

        li {
            word-wrap: break-word;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 170%;
            color: $main-color;
            text-decoration: none;
            padding-left: 20px;
            margin: 0 0 20px 0;

            &:last-child {
                margin: 0;
            }
        }
    }

    &__buttons-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 0 20px 0;
    }

    &__buttons {
        @include button-group(10px 20px, 15px, 15px);
    }

    &__copy-icon {
        color: $main-color;
        width: 21px;
        height: 21px;
        margin: 0 0 0 8px;
    }

    &__link {
        @include primary-button(15px);
        margin: 0 auto;
        svg {
            font-size: 25px;
        }
    }

    &__empty {
        text-align: center;
        font-size: 17px;
        color: $secondary-color;
        margin: auto;
    }

    &__copy-add {
        font-size: 16px;
        margin: 20px 10px;
    }
}

@media (max-width: $xxl) {
    .list {
        &__result {
            padding: 23px 18px;
            border-radius: 15px;
        }

        &__items {
            li {
                padding-left: 15px;
                margin: 0 0 15px 0;

                &:last-child {
                    margin: 0;
                }
            }
        }

        &__buttons {
            @include button-group(10px 16px, 13px, 14px);
        }

        &__link {
            @include primary-button(14px);
            margin: 0 auto;
        }

        &__icon {
            font-size: 20px;
            margin: 0 0 0 8px;
        }
    }
}

@media (max-width: $xl) {
    .list {
        &__result {
            margin: 0 0 8px 0;
        }

        &__buttons-wrapper {
            margin: 0;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__buttons {
            @include button-group(12px 20px, 13px, 15px);
            width: 100%;
            margin: 8px 0;
        }

        &__link {
            @include primary-button(15px);
            margin: 8px auto 0 auto;
        }

        &__icon {
            font-size: 22px;
            margin: 0 0 0 10px;
        }
    }
}


@media (max-width: $md) {
    .list {
        &__result {
            margin: 0 0 8px 0;
            padding: 24px;
        }

        &__items {
            padding-left: 20px;

            li {
                font-size: 15px;
                padding-left: 12px;
                margin: 0 0 12px 0;

                &:last-child {
                    margin: 0;
                }
            }
        }

        &__buttons-wrapper {
            margin: 0;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__buttons {
            @include button-group(10px 12px, 12px, 13px);
            width: 100%;
            margin: 8px 0;
        }

        &__link {
            @include primary-button(13px);
            margin: 8px auto 0 auto;
        }

        &__icon {
            font-size: 16px;
            margin: 0 0 0 8px;
        }
    }
}

@media (max-width: $sm) {
    .list {
        &__result {
            border-radius: 12px;
        }

        &__items {
            padding-left: 14px;

            li {
                font-size: 14px;
                padding-left: 10px;
                margin: 0 0 10px 0;

                &:last-child {
                    margin: 0;
                }
            }
        }

        &__buttons {
            @include button-group(8px 9px, 10px, 12px);
            width: 100%;
            margin: 5px 0;
        }

        &__link {
            @include primary-button(12px);
            margin: 5px auto 0 auto;
        }

        &__icon {
            font-size: 14px;
            margin: 0 0 0 5px;
        }
    }
}

@media (max-width: $xs) {
    .list {
        &__result {
            border-radius: 12px;
            padding: 25px;
        }

        &__items {
            margin: 5px 0 0 0;
            padding-left: 15px;

            li {
                font-size: 14px;
                padding-left: 7px;
                margin: 0 0 10px 0;

                &:last-child {
                    margin: 0;
                }
            }
        }

        &__buttons {
            @include button-group(5px, 10px, 14px);
            width: 100%;
            margin: 0;
            flex-direction: column;

            button {
                margin: 7px auto;
                height: 50px;
                width: 80%;
                border-radius: 10px;
                border: 1px solid $light-lines-color;

                &:first-child {
                    border-radius: 10px;
                }

                &:last-child {
                    border-radius: 10px;
                }
            }
        }

        &__link {
            @include primary-button(14px);
            height: 50px;
            width: 80%;
            margin: 7px auto 0 auto;
        }

        &__icon {
            font-size: 20px;
            margin: 0 0 0 10px;
        }
    }
}