@mixin font-face($font-family, $url, $weight, $style) {
    @font-face {
        font-family: "#{$font-family}";
        src: url('../assets/fonts/#{$url}.woff2') format("woff2");
        font-weight: $weight;
        font-display: swap;
        font-style: $style;
    }
}

@include font-face("Rubik", "Rubik-Light", 300, normal);
@include font-face("Rubik", "Rubik-Regular", 400, normal);
@include font-face("Rubik", "Rubik-Medium", 500, normal);
@include font-face("Rubik", "Rubik-SemiBold", 600, normal);
@include font-face("Rubik", "Rubik-Bold", 700, normal);
@include font-face("Rubik", "Rubik-ExtraBold", 800, normal);
@include font-face("Rubik", "Rubik-Black", 900, normal);


$font_main: 'Rubik', sans-serif;

* {
    font-family: $font_main;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 135%;
    color: $title-color;
    margin: 0 0 25px 0;

    @media (max-width: $xl) {
        font-size: 36px;
        margin: 0 0 25px 0;
    }

    @media (max-width: $lg) {
        font-size: 36px;
        margin: 0 0 20px 0;
    }

    @media (max-width: $md) {
        font-size: 32px;
        margin: 0 0 20px 0;
    }

    @media (max-width: $sm) {
        font-size: 28px;
    }

    @media (max-width: $xs) {
        font-size: 28px;
    }
}


h2,
h4,
h5,
h6 {
    margin: 0 0 30px 0;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%;
    color: $main-color;

    @media (max-width: $md) {
        font-size: 16px;
        line-height: 130%;
    }

    @media (max-width: $xs) {
        line-height: 150%;
    }
}

h3 {
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 125%;
    color: $main-color;

    @media (max-width: $md) {
        font-size: 16px;
        line-height: 130%;
    }

    @media (max-width: $xs) {
        line-height: 150%;
    }
}

p {
    font-size: 16px;
    font-weight: 300;
    color: $main-color;
}

a {
    color: $main-color;
    font-weight: 300;

    &:hover,
    &:active {
        color: $main-color;
        text-decoration: underline;
    }

    &:focus-visible {
        transition: none;
        outline: solid $main-color 2px;
    }
}