// Colors 

:root {
    --title-color: #0b132a;
    --main-color: #545b69;
    --secondary-color: #71747a;
    --tertiary-color: #a3aab6;
    --bg-color: #ffffff;
    --bg-secondary-color: #f8f8f8;
    --bg-light-color: #fff3f3;
    --accent-color: #f53838;
    --dark-lines-color: #bcbcbc;
    --light-lines-color: #ffbaba;
    --shadow-color: rgba(13, 16, 37, 0.06);
    --accent-shadow-color: #f53838;
    --hover-color: #d9d9d9;
    --hover-btn-color: rgba(245, 56, 85, 0.08);
    --invert: invert(100%);
}

$white: #FFFFFF;
$title-color: var(--title-color);
$main-color: var(--main-color);
$secondary-color: var(--secondary-color);
$tertiary-color: var(--tertiary-color);
$bg-color: var(--bg-color);
$bg-secondary-color: var(--bg-secondary-color);
$bg-light-color: var(--bg-light-color);
$accent-color: var(--accent-color);
$dark-lines-color: var(--dark-lines-color);
$light-lines-color: var(--light-lines-color);
$shadow-color: var(--shadow-color);
$accent-shadow-color: var(--accent-shadow-color);
$hover-color: var(--hover-color);
$hover-btn-color: var(--hover-btn-color);
$invert: var(--invert);
$invert: var(--invert);
$color_highlight: #f53838;
$color_special: #f53838;
$color_danger: #ec3f3f;
$color_chart_1: $accent-color;
$color_chart_2: #F3645B;
$color_chart_3: #E55C8C;
$color_chart_4: #C349FF;
$color_chart_5: #801DFF;

// Breakpoints

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;

$layout-width: 80%;