input {
    appearance: none;
    -webkit-appearance: none;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &[type=number] {
        -moz-appearance: textfield;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }
    &::-ms-clear {
        display: none;
    }
}
input[type=text], 
input[type=number],
input[type=email],
textarea {
    font-style: normal;
    font-weight: 300;
    color: $color_main;
    background-color: $color_bg;
    border: 1px solid $color_light_lines;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px;
    &::placeholder {
        color: $color_placeholder;
    }
    &:focus {
        border: 1px solid $color_secondary;
    }
    &:disabled {
        border: 1px solid $color_light_lines;
        &::placeholder {
            color: $color_tertiary;
        }
    }
    @media (max-width: $sm) {
        font-size: 15px;
        padding: 8px;
    }
}

input[type=search] {
    border: none;
    outline: none;
    
    &:focus {
        border: none;
        outline: none;
        outline-width: 0;
        outline: none;
    }
    &:active {
        outline: none;
    }
    &:focus-visible {
        outline: 2px solid #ffffff91;
    }

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        height: 25px;
        width: 25px;
        background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="21" height="21" viewBox="0 0 21 21"%3E%3Cg fill="none" fill-rule="evenodd" stroke="white" stroke-linecap="round" stroke-linejoin="round" transform="translate(2 2)"%3E%3Ccircle cx="8.5" cy="8.5" r="8"%2F%3E%3Cpath d="m5.5 5.5l6 6m0-6l-6 6"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat 50% 50%;
        background-size: contain;
        opacity: 0;
        pointer-events: none;
    }
    
    &:focus::-webkit-search-cancel-button {
        opacity: 1;
        pointer-events: all;
    }
}

textarea {
    resize: vertical; 
    min-height: 80px;
    max-height: 400px;
}
@media (max-width: $xs) {
    textarea {
        min-height: 120px;
    }
}

label {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    color: $color_main;
    &:has(~ :is([disabled])) {
        color: $color_secondary; 
    } 
    @media (max-width: $sm) {
        font-size: 15px;
        padding: 10px;
    } 
}
.input-error {
    display: block;
    font-size: 15px;
    font-weight: 300;
    line-height: 120%;
    color: $color_danger;
    @media (max-width: $sm) {
        font-size: 14px;
    } 
}

input[type=checkbox] {
    z-index: -1;
    opacity: 0;
}

input[type=checkbox]+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin: auto 10px;
}

input[type=checkbox]+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $color_secondary;
    border-radius: 4px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

input[type=checkbox]:not(:disabled):not(:checked)+label:hover::before {
    border-color: #ff9e77;
}

input[type=checkbox]:not(:disabled):active+label::before {
    background-color: #ff9e77;
    border-color: #ff9e77;
}

input[type=checkbox]:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(205, 112, 13, 0.25);
}

input[type=checkbox]:focus:not(:checked)+label::before {
    border-color: #ff9e77;
}

input[type=checkbox]:checked+label::before {
    border-color: #ff6529;
    background-color: #ff6529;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

input[type=checkbox]:disabled+label::before {
    background-color: #ff9e77;
}

select {
    margin-top: 12px;
    background-color: $color_dark_lines;
    color: $color_main;
    padding: 5px;
    border: unset;
    display: block;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-weight: 300;
    line-height: 1.5;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border-radius: 5px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-transform: none;
    &:focus, &:active, &:focus-visible {
        outline: solid $color_tertiary 2px;
    }
}