* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus,
*:active {
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: $color_bg;
}

nav,
footer,
header,
aside {
    display: block;
}

button {
    cursor: pointer;
    background-color: unset;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

ul li {
    list-style: none;
}

ul {
    padding: 0;
}

ol {
    padding-left: 2rem;
}

img {
    vertical-align: top;
}

::selection {
    background: $color_special;
}

::-moz-selection {
    background: $color_special;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: $color_light_lines;
    border-radius: 100px;
}

body {
    scrollbar-width: 5px;
    overflow-y: scroll;
    scrollbar-color: $color_light_lines $color_light_lines;
}

@media(orientation: portrait) {
    ::-webkit-scrollbar {
        width: 6px;
    }
}

.wrapper {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    justify-content: center;
    align-content: space-between;
    grid-template: minmax(100px, auto) 1fr minmax(60px, 80px)/1fr;
    grid-template-areas: "header"
                         "main"
                         "footer";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    margin: 0 auto;
    width: 85%;
}
.footer {
    grid-area: footer;
    width: 100%;
}