@import "../../styles/styles.scss";

.bar-chart {
    width: 70%;
    margin: 0 auto 60px auto;

    canvas {
        width: 100%;
    }
    
    @media (max-width: $xl) {
        width: 100%;
        margin: 100px 0;
    }
    
    @media (max-width: $md) {
        margin: 50px 0;
    }
}