@import "../../styles/styles.scss";

.logo {
    display: flex;
    align-items: center;
    padding: 7px;

    &__text {
        white-space: nowrap;
        margin: 0 0 0 18px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: $title-color;

        &:hover {
            color: $title-color;
        }
    }

    &__img {
        object-fit: contain;
        width: 32px;
    }

    &:focus-visible {
        border-radius: 8px;
        outline: solid $title-color 2px;
    }
}


@media (max-width: $lg) {
    .logo {
        &__text {
            margin: 0 0 0 15px;
            font-size: 17px;
        }

        &__img {
            width: 27px;
        }
    }
}

@media (max-width: $md) {
    .logo {
        &__text {
            margin: 0 0 0 13px;
            font-size: 16px;
        }

        &__img {
            width: 25px;
        }
    }
}