@import "../../styles/styles.scss";

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__main {
        padding: 60px 0 100px 0;
    }

    .hero {
        margin-bottom: 60px;
    }
}

@media (max-width: $md) {
    .home {    
        &__main {
            padding: 40px 0 70px 0;
        }
    }
}

@media (max-width: $sm) {
    .home {    
        &__main {
            padding: 20px 0 40px 0;
        }
    }
}