@import "../../styles/styles.scss";

.error {
    display: flex;
    align-items: center;
    margin: 20px 0;

    h4 {
        margin: 0;
    }

    svg {
        font-size: 30px;
        color: $secondary-color;
        margin: auto 15px auto 0;
    }
}

@media (max-width: $lg) {
    .error {    
        svg {
            font-size: 50px;
        }
    }
}

@media (max-width: $sm) {
    .error {    
        svg {
            font-size: 100px;
            margin: auto 20px auto 0;
        }
    }
}