@import "../../styles/styles.scss";

.contacts {
    &__block {
        margin: 20px 0;
        padding: 20px 50px;
        background-color: initial;
        border: 1px solid $tertiary-color;
        border-radius: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    h2 {
        margin: 0 0 20px 0;
        font-size: 20px;
        font-weight: 300;
    }
    &__email {
        color: $accent-color;
        font-weight: 300;
        font-size: 30px;
        margin: 20px 0 0 0;
        text-decoration: underline;
        &:hover {
            color: $accent-color;
            text-decoration: underline;
        }
    }
    &__image {
        width: 300px;
        margin: auto;
    }
}



@media (max-width: $lg) {
    .contacts {
        &__block {
            padding: 30px;
        }
        &__text {
            margin: 0 0 20px 0;
            font-size: 17px;
        }
        &__image {
            width: 200px;
        }
        &__email {
            font-size: 22px;
        }
    }
}

@media (max-width: $md) {
    .contacts {
        h2 {
            font-size: 18px;
        }
        &__block {
            border-radius: 30px;
            flex-direction: column;
        }
        &__image {
            width: 140px;
        }
    }
}