@import "../../styles/styles.scss";

.header {
  z-index: 100;
  width: 100%;
  height: 80px;

  &__nav {
    height: 70px;
    padding: 60px 0 20px 0;
    display: flex;
    width: $layout-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 0 0 auto;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 0 0 auto;
  }

  &__link {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-align: center;

    &:hover {
      text-decoration: underline;
  }
  }

  &__button {
    @include primary-accent-button(16px);
    white-space: nowrap;
  }

  svg {
    color: $main-color;
    width: 30px;
    height: 30px;

    &:not(:last-child) {
      width: 35px;
      height: 35px;
    }
  }
}


@media (max-width: 1750px) {
  .header {
    &__content {
      width: 70%;
    }
  }
}

@media (max-width: 1500px) {
  .header {
    &__content {
      width: 80%;
    }

    &__link {
      font-size: 15px;
    }
  }
}

@media (max-width: $xl) {
  .header {
    &__content {
      width: 45%;
    }

    &__link {
      display: none;
    }
  }
}

@media (max-width: $lg) {
  .header {
    &__content {
      width: 55%;
    }
    &__button {
      font-size: 15px;
    }
  }
}

@media (max-width: $md) {
  .header {
    &__content {
      width: 20%;
    }
    &__button {
      display: none;
    }
  }
}

@media (max-width: $sm) {
  .header {
    &__content {
      width: 26%;
    }
    svg {
      width: 26px;
      height: 26px;
  
      &:not(:last-child) {
        width: 30px;
        height: 30px;
      }
    }
  }
}