@import "../../styles/styles.scss";

.search-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    position: relative;
    margin-bottom: 50px;

    &__field {
        position: relative;
        width: 55%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: fit-content;

        input {
            @include block-accent();
            padding-right: 15px;
            margin: 0;
            appearance: none;
            -webkit-appearance: none;
            width: 93%;

            &::placeholder {
                appearance: none;
                -webkit-appearance: none;
                color: $white;
            }
        }
    }

    &__button {
        height: 50px;
        width: 50px;
        padding: 0;
        margin: 0 5px;
        color: $main-color;
        background-color: $bg-color;

        svg {
            margin: 0;
            width: 28px;
            height: 28px;
            color: $main-color;
        }
    }

    &__error {
        position: absolute;
        top: -70%;
        left: 0;
        font-size: 15px;
        margin: 10px 0 0 10px;
        color: $secondary-color;
    }
}

@media (max-width: $xl) {
    .search-form {
        &__field {
            width: 80%;
        }
    }
}

@media(max-width: $lg) {
    .search-form {
        &__button {
            padding: 0;
            margin: 0 15px;

            svg {
                margin: 0;
                font-size: 26px;
            }
        }
    }
}


@media (max-width: $md) {
    .search-form {
        &__field {
            width: 100%;
        }
    }
}


@media (max-width: $xs) {
    .search-form {
        &__field {
            width: 100%;
            input {
                border-radius: 10px;
                height: 70px;
                padding-bottom: 25px;
                font-size: 14px;
            }
            input::placeholder {
                font-size: 14px;
                white-space: wrap;
            }
    
        }

        &__button {
            padding: 0;
            margin: 0;
            margin-left: 8px;
            svg {
                margin: 0;
                font-size: 24px;
            }
        }

        &__error {
            position: absolute;
            top: -50%;
        }

    }
}