@mixin transition() {
    transition: all .2s ease-in-out;
}

@mixin text-gradient($font-size, $font-weight) {
    background: $accent-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: $font-weight;
    font-size: $font-size;
}